:root{
    --fuenteTitulos: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --fuenteParrafo: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --amarillo: #ffa31a;
    --amarilloHover:#F8C123;
    --celeste: #0796cf;
    --grisCalro: #9a9797;
    --grisOscuro:  #292929;
    --negro: #1b1b1b;
    --blanco: #fff;
}

.menudiario{
    display: flex;
    position: relative;
    width: 1400px;
    height: 80px;
    background-color: var(--amarillo);
    color: var(--negro);
    font-size: 36px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.flecha{
    border: none;
    background-color: transparent;
    color: var(--grisOscuro);
}

.flecha:hover{
    background-color: rgba(128, 128, 128, 0.248);
}







.container-3 {
    background-color:var(--grisOscuro);
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
}
.espacio {
    background-color: var(--grisOscuro);;
    color: var(--blanco);
    height: auto;
    padding: 10px;
    text-align: center;
}

.container-4 {
    background-color: var(--grisOscuro);
    border-radius: 20px;
    color: var(--blanco);
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    text-align: center;
}

.alimento{
    background-color: var(--grisCalro);
    color: var(--grisOscuro);
    height: auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
}

#idelete{
    height: 100px;
    color: var(--grisOscuro);
}


.table-custom th{
    background-color: transparent;
    color: var(--blanco);
    font-size: 30px;
    border: none;
}

.alimento2{
    background-color: var(--grisCalro);
    color: var(--grisOscuro);
    height: auto;
    text-align: center;
    border-radius: 20px;
    font-size: 25px;
    align-items: center;
}

table tr{
    margin-top: 20px;
}

button:hover{
    color: var(--blanco);
}

@media (max-width: 50em){
    table{
        width: 100%;
    }

    table tr{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    table td[data-title]{
        display: flex;
    }

    table td[data-title]::before{
        content: attr(data-title);
        width: 200px;
        color: var(--blanco);
        font-weight: bold;
    }

    table th{
        display: none;
    }
}

.hoy{
    padding-left: 20%;
}

@media(min-width: 400px) { 
    .hoy{
        padding-left: 35%;
    }
    
}
@media(min-width: 500px) { 
    .hoy{
        padding-left: 40%;
    }
    
}

@media(min-width: 600px) { 
    .hoy{
        padding-left: 42%;
    }
}

@media(min-width: 1000px) { 
    .hoy{
        padding-left: 44%;
    }
}
@media(min-width: 1100px) { 
    .hoy{
        padding-left: 42%;
    }
}