:root{
    --fuenteTitulos: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --fuenteParrafo: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --amarillo: #ffa31a;
    --amarilloHover:#F8C123;
    --celeste: #0796cf;
    --grisCalro: #9a9797;
    --grisOscuro2: #3e3e3e;
    --grisOscuro:  #292929;
    --negro: #1b1b1b;
    --blanco: #fff;
}

main{
    background-color: var(--grisOscuro2);
    padding: 20px;
}

.container-2{
    background-color:var(--grisOscuro);
    color: var(--blanco);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}