:root{
    --fuenteTitulos: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --fuenteParrafo: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --amarillo: #ffa31a;
    --celeste: #0796cf;
    --grisCalro: #9a9797;
    --grisOscuro: #292929;
    --negro: #1b1b1b;
    --blanco: #fff;


}

/* globales  */


header i, ul a{
    color: var(--blanco);   
}

main{
    height: 400px;
    /* gradiente */
    background: rgb(77,72,72);
    background: radial-gradient(circle, rgba(77,72,72,1) 21%, rgba(75,75,68,1) 58%, rgba(87,87,87,1) 96%);


}

footer{
    background-color:var(--grisOscuro) ;
}







/* Banner  */
.h1logo{
    font-family: var(--fuenteTitulos);
}

.h4logo{
    font-family: var(--fuenteTitulos);
    font-size: 20px;
    font-weight:lighter !important;
}

.banner{
    background-image:url(/Assets/img/banner.png) ;
    height: 200px;

}
.banner img{
    height: 75px;
}

@media(min-width: 480px) and (max-width: 767px) { 
    .banner img{
        height: 100px;
    }
}

@media(min-width: 768px) { 
    .banner img{
        height: 120px;
    }
}



