*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.user-input-box:nth-child(2n){
    justify-content: end;
}


.user-input-box label{  
    width: 95%;
}

.user-input-box input{
    height: 40px;
    width: 95%;
    border-radius: 7px;
    outline: none;
    border: 1px solid grey;
    padding: 0 10px;
}
.gender-category label,
.gender-category input,
.form-submit-btn input{
    cursor: pointer;
}
.form-submit-btn{
    width: 100%;
}


