:root{
    --fuenteTitulos: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --fuenteParrafo: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    --amarillo: #ffa31a;
    --amarilloHover:#F8C123;
    --celeste: #0796cf;
    --grisCalro: #9a9797;
    --grisOscuro:  #292929;
    --negro: #1b1b1b;
    --blanco: #fff;
}

/* Diario */

.menudiario{
    display: flex;
    position: relative;
    width: 1400px;
    height: 80px;
    background-color: var(--amarillo);
    color: var(--negro);
    font-size: 36px;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.flecha{
    border: none;
    background-color: transparent;
    color: var(--grisOscuro);
}

.flecha:hover{
    background-color: rgba(128, 128, 128, 0.248);
}

.container-calorias{
    background-color:var(--grisOscuro);
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

.espaciodiario{
    background-color: var(--grisOscuro);;
    color: var(--blanco);
    height: auto;
    padding: 10px;
    text-align: center;
}

.container-adiario{
    background-color: var(--grisOscuro);
    border-radius: 20px;
    color: var(--blanco);
    padding: 20px;
    margin: 20px auto;
    width: 90%;
    text-align: center;
}

.btn.btn-custom{
    background-color:var(--amarillo);
    font-size: 1em;
}

.btn.btn-custom:hover{
    background-color: var(--amarilloHover); 
}

.btn.btn-custom:active{
    background-color: var(--amarilloHover); 
}

.table-custom th{
    background-color: transparent;
    color: var(--blanco);
    font-size: 30px;
    border: none;
}

.rgtrotabla{
    background-color: var(--grisCalro);
    color: var(--grisOscuro);
    height: auto;
    text-align: center;
    border-radius: 20px;
    font-size: 25px;
    align-items: center;
}

button:hover{
    color: var(--blanco);
}

@media (max-width: 50em){
    table{
        width: 100%;
    }

    table tr{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    table td[data-title]{
        display: flex;
    }

    table td[data-title]::before{
        content: attr(data-title);
        width: 200px;
        color: var(--blanco);
        font-weight: bold;
    }

    table th{
        display: none;
    }
}

.hoy{
    padding-left: 20%;
}

@media(min-width: 400px) { 
    .hoy{
        padding-left: 35%;
    }
    
}
@media(min-width: 500px) { 
    .hoy{
        padding-left: 40%;
    }
    
}

@media(min-width: 600px) { 
    .hoy{
        padding-left: 42%;
    }
}

@media(min-width: 1000px) { 
    .hoy{
        padding-left: 44%;
    }
}
@media(min-width: 1100px) { 
    .hoy{
        padding-left: 42%;
    }
}

/* Agregar Alimentos */

.search-container {
    margin: auto; 
    width: 80%; 
    display: flex; 
    background-color: var(--amarillo); 
    border-radius: 5px; 
    margin-top: 20px;
  }
  
.search-container input[type="text"] {
    flex: 1;
    border: none; 
    background-color: var(--amarillo); 
    color: var(--negro); 
    padding: 10px; 
    font-size: 16px; 
    padding-right: 20px;
    border-radius: 5px; 
    
    color: var(--negro);
}

.search-container button[type="submit"] {
    padding: 10px; 
    background-color: var(--amarillo); 
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
    color: var(--negro);
}

.search-container button{
    padding: 10px; 
    background-color: var(--amarillo); 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
    color: var(--negro);
}

.search-container button:hover {
    background-color: var(--amarilloHover); 
}

.search-container input[type="text"]::placeholder {
    color: var(--negro);
}

.container-add {
    background-color: var(--grisCalro);
    border-radius: 20px;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    color: var(--negro);
}

.unidades input[type="number"]{
    background-color: var(--negro);
    border: white;
    border-radius: 10px;
    padding: 15px;
    margin-right: 10px;
    width: 90px;
    color: white;
}

@media(max-width: 570px) { 
    #espacio{
        margin-top: 20px;
    }
}  

@media screen and (max-width: 600px) {
    .search-container {
      width: 80%;
    }
  
    .search-container input[type="text"] {
      margin: 0 auto;
      width: 80%;
    }
  }

/* Info Alimentos y Guias*/

.container-infoali{
    background-color:var(--grisOscuro);
    color: var(--blanco);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 40px 20px 40px;
}

#imgenlace{
    padding: 20px;
    border-radius: 20px;
    height: 300px;
    border-radius: 50px;
    width: 400px;
    position: relative;
}

#txtenlace{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: var(--negro);
}


#imgenlace:hover{
    transform: scale(1.1);
    transition: all 400ms;
}
